* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//ADD BUTTONS

.fa-book {
    color: orange;
}

.fa-plus-square {
    // padding: .5rem;
    font-size: 1.5rem;
    color: #fff;
}

// .far {
//     margin: 0 1rem;
// }

//CARD SECTION

.card {
    width: 25rem;
}