* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DBE2EF;
}

//ADD BUTTONS

.fa-book {
    color: orange;
}

.fa-plus-square {
    // padding: .5rem;
    font-size: 1.5rem;
    color: #fff;
}

button {
    
    .fa-edit,.fa-trash-alt {
        font-size: 1.3rem;
        color: orange;   
           }

    &:hover {
        .fa-edit,.fa-trash-alt {            
            color: #fff;       
                   }
    }

}


//CARD SECTION

.card {
    width: 25rem;
}

//INPUT

input {
    border: none;
    font-size: 2rem;
    width: 100%;
    outline: none;
}

//TEXT AREA

textarea {
    outline: none;
    border: none;
    min-height: 10rem;
    width: 100%;
    resize: none;
    
    }


    .hidden {
        display: none;
    }

